body{
    background-color: #333;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.loginform{
    width: 20rem;
    padding: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #141414;
    text-align: center;
    border-radius: 1rem;
}

.loginform h1{
    color: whitesmoke;
    text-transform: uppercase;
}

.loginform input {
    border: 0;
    background: none;
    display: block;
    margin: 1rem auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 1rem 0.5rem;
    width: 15rem;
    outline: none;
    color: whitesmoke;
    border-radius: 1.5rem;
    transition: 0.25s;
}

.loginform input:focus {
    width: 18rem;
    border-color: #16a085;
}

.loginform button {
    border: 0;
    background: none;
    display: block;
    margin: 1rem auto;
    text-align: center;
    border: 2px solid #2980b9;
    padding: 1rem 2rem;
    outline: none;
    color: whitesmoke;
    border-radius: 1.5rem;
    transition: 0.25s;
    cursor: pointer;
}

.loginform button:hover {
    background: #2980b9;
}

.loginform a {
    text-decoration: none;
    border: 0;
    background: none;
    display: block;
    margin: 1rem auto;
    text-align: center;
    border: 2px solid #2980b9;
    padding: 1rem 1rem;
    outline: none;
    color: whitesmoke;
    border-radius: 1rem;
    transition: 0.25s;
    cursor: pointer;
}

.loginform a:hover {
    background: #2980b9;
}
